.btn-fixed-width {
  min-width: 185px;
}

.badge-fixed-width {
  display: inline-block;
  width: 100px;
  text-align: center;
}

.task-name {
  min-width: 180px;
  max-width: 180px;
  display: inline-block;
}
.task-desc {
  min-width: 300px;
  max-width: 300px;
  display: inline-block;
}