<div class="modal fade" id="createTaskModal" tabindex="-1" aria-labelledby="createTaskModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <form ng-submit="ctrl.createTask()">
        <div class="modal-header">
          <h5 class="modal-title" id="createTaskModalLabel">Nueva Tarea</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
        </div>
        <div class="modal-body">
          <div class="mb-3">
            <input type="text" ng-model="ctrl.newTask.name" class="form-control" placeholder="Nombre" required>
          </div>
          <div class="mb-3">
            <input type="text" ng-model="ctrl.newTask.description" class="form-control" placeholder="Descripción" required>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
          <button type="submit" class="btn btn-primary">Crear tarea</button>
        </div>
      </form>
    </div>
  </div>
</div>